In [1]:
import pandas as pd
import cryptography.fernet as Fernet

In [2]:
datos = { 'Nombre':['juan', 'ana', 'pedro', 'maria', 'luis', 'ana' ],
          'edad':[28, 34, None, 45, 38, 34 ],
          'salario':[3000, 4000, None, 4500, 4000, 5000 ],
          'fecha_ingreso':['2021-01-15', '2020/03/12', 	'2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12']
}

In [28]:
# Creaci√≥n del datafram
df = pd.DataFrame(datos)

In [4]:
#Identificamos tipo de dato del dataframe
df.dtypes

Nombre            object
edad             float64
salario          float64
fecha_ingreso     object
dtype: object

In [5]:
#Muestra los cinco primeros datos
df.head()

  Nombre  edad  salario fecha_ingreso
0   juan  28.0   3000.0    2021-01-15
1    ana  34.0   4000.0    2020/03/12
2  pedro   NaN      NaN    2022-07-01
3  maria  45.0   4500.0    2021/12/01
4   luis  38.0   4000.0    2021-05-20

In [6]:
# Punto 1: Identificar y contar los valores faltantes en cada columna
missing_values_datos = df.isnull().sum()
missing_values_datos

Nombre           0
edad             1
salario          1
fecha_ingreso    0
dtype: int64

In [7]:
# Paso 2: Convertir 'Edad' a num√©rico, reemplazando valores no num√©ricos con NaN
df['edad'] = pd.to_numeric(df['edad'], errors='coerce')
print("\nEdades despu√©s de la conversi√≥n:")
print(df['edad'])

Edades despu√©s de la conversi√≥n:
0    28.0
1    34.0
2     NaN
3    45.0
4    38.0
5    34.0
Name: edad, dtype: float64

In [8]:
# Paso 2: Convertir 'salario' a num√©rico, reemplazando valores no num√©ricos con NaN
df['salario'] = pd.to_numeric(df['salario'], errors='coerce')
print("\nSalario empleados despu√©s de la conversi√≥n:")
print(df['salario'])

Salario empleados despu√©s de la conversi√≥n:
0    3000.0
1    4000.0
2       NaN
3    4500.0
4    4000.0
5    5000.0
Name: salario, dtype: float64

In [9]:
# Punto 3 visualiamos lo que contiene la columna fecha_ingreso
df['fecha_ingreso']

0    2021-01-15
1    2020/03/12
2    2022-07-01
3    2021/12/01
4    2021-05-20
5    2020-03-12
Name: fecha_ingreso, dtype: object

In [10]:
#Estandarizamos lo que contiene la columna fecha_ingreso
df['fecha_ingreso'] = pd.to_datetime(df['fecha_ingreso'], errors='coerce').dt.strftime('%Y-%m-%d')
df['fecha_ingreso']

0    2021-01-15
1           NaN
2    2022-07-01
3           NaN
4    2021-05-20
5    2020-03-12
Name: fecha_ingreso, dtype: object

In [11]:
# Punto 2 Parte 1

datos2 = { 'Nombre':['juan', 'ana', 'pedro', 'maria', 'luis', 'carla' ],
          'edad':[28, None, 40, 45, 38, 34 ],
          'salario':[3000, 4000, 4500, 'cuatro mil', 5000, 4000 ],
          'cargo':['Analista', 'Gerente',	'Desarrollador', 'Gerente', 'Analista', None],
          'fecha_ingreso':['2021-01-15', '2020/03/12', 	'2022-07-01', '2021/12/01', None, '2020-03-12']
}

In [12]:
# Creaci√≥n del datafram
df2 = pd.DataFrame(datos2)

In [13]:
#Identificamos tipo de dato del dataframe
df2.dtypes

Nombre            object
edad             float64
salario           object
cargo             object
fecha_ingreso     object
dtype: object

In [14]:
#Muestra los cinco primeros datos
df.head()

  Nombre  edad  salario fecha_ingreso
0   juan  28.0   3000.0    2021-01-15
1    ana  34.0   4000.0           NaN
2  pedro   NaN      NaN    2022-07-01
3  maria  45.0   4500.0           NaN
4   luis  38.0   4000.0    2021-05-20

In [15]:
# Punto 1: Identificar y contar los valores faltantes en cada columna
missing_values_datos = df2.isnull().sum()
missing_values_datos

Nombre           0
edad             1
salario          0
cargo            1
fecha_ingreso    1
dtype: int64

In [16]:
# Paso 2: Convertir 'Edad' a num√©rico, reemplazando valores no num√©ricos con NaN
df2['edad'] = pd.to_numeric(df2['edad'], errors='coerce')
print("\nEdades despu√©s de la conversi√≥n:")
print(df2['edad'])

Edades despu√©s de la conversi√≥n:
0    28.0
1     NaN
2    40.0
3    45.0
4    38.0
5    34.0
Name: edad, dtype: float64

In [17]:
# Paso 2: Convertir 'salario' a num√©rico, reemplazando valores no num√©ricos con NaN
df2['salario'] = pd.to_numeric(df2['salario'], errors='coerce')
print("\nSalario empleados despu√©s de la conversi√≥n:")
print(df2['salario'])

Salario empleados despu√©s de la conversi√≥n:
0    3000.0
1    4000.0
2    4500.0
3       NaN
4    5000.0
5    4000.0
Name: salario, dtype: float64

In [18]:
#Estandarizamos lo que contiene la columna fecha_ingreso
df2['fecha_ingreso'] = pd.to_datetime(df2['fecha_ingreso'], errors='coerce').dt.strftime('%Y-%m-%d')
df2['fecha_ingreso']

0    2021-01-15
1           NaN
2    2022-07-01
3           NaN
4           NaN
5    2020-03-12
Name: fecha_ingreso, dtype: object

In [19]:
#Verificar que no haya valores faltantes en la columna "Cargo".
cargo_faltantes = df2[df2['cargo'].isna()]
print(cargo_faltantes)

  Nombre  edad  salario cargo fecha_ingreso
5  carla  34.0   4000.0  None    2020-03-12

**PARTE 2 LABORATORIO 9**

In [20]:
productos = { 'producto':['Producto A', 'Producto B', 'Producto c', 'Producto D'],
          'precio':[150, -25, 100,None],
          }

In [21]:
# Creaci√≥n del datafram
df3 = pd.DataFrame(productos)

In [22]:
#Identificamos tipo de dato del dataframe
df3.dtypes

producto     object
precio      float64
dtype: object

In [23]:
# Imprimimos los datos del dataframe
df3

     producto  precio
0  Producto A   150.0
1  Producto B   -25.0
2  Producto c   100.0
3  Producto D     NaN

In [24]:
# Validamos n√∫meros negativos  y faltantes
df3['Datosinvalidos']= df3['precio'].apply(lambda x: 'Valido' if pd.notnull (x) and x>=0 else 'Invalido')
print(df3)

     producto  precio Datosinvalidos
0  Producto A   150.0         Valido
1  Producto B   -25.0       Invalido
2  Producto c   100.0         Valido
3  Producto D     NaN       Invalido

In [34]:
# Creamos dataframe con los datos del cliente
clientes={ 'Nombre':['Ana', 'Luis', 'Maria', 'Luis', 'Carlos'],
             'IDCliente':[1, 2, 3, 2, 4],
          }

In [37]:
# Verificar si hay duplicados en la columna de IDCliente
df4 = pd.DataFrame(clientes)
duplicados = df4[df4.duplicated('IDCliente')]
print(duplicados)

  Nombre  IDCliente
3   Luis          2

In [40]:
# Encriptar y desencriptar n√∫mero tarjeta de cr√©dito
key = Fernet.Fernet.generate_key()
cipher_suite = Fernet.Fernet(key)
datos_sensibles = '1234-5678-91011121'.encode()
dato_encriptado=cipher_suite.encrypt(datos_sensibles)
print('DATOS CIFRADOS:', dato_encriptado)

DATOS CIFRADOS: b'gAAAAABnNmvyBQ6k58A8WST4SNdPDkVj1oUaE9_5D_fesryMqX7sVA23hXUR2gTtoVn0QeqOUBTV6_V1a7mxt4KbGSJ8HlXWpXbfY0SY6r5aHXyQRYgfBdg='

In [41]:
dato_desencriptado = cipher_suite.decrypt(dato_encriptado)
print('DATOS DESCIFRADOS:', dato_desencriptado.decode())

DATOS DESCIFRADOS: 1234-5678-91011121